body {
  line-height: 0;
}
.navbar {
  background: rgba(255, 255, 255, 0.5);
  line-height: 3;
}
.menu-item {
  color: black;
  margin-right: 15px;
  text-decoration: none;
}
.menu-item:hover {
  text-decoration: none;
  color: grey;
}
.video {
  width: 100%;
  top: 0;
}
.card-image-text {
  display: flex;
}
.our-story-title {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  text-align: justify;
}
.card-text-title {
  padding: 2.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) { 
  .video {
    width: auto;
  }
}
